<!DOCTYPE html>
<html>
<head>
    <title>Marks Form</title>
</head>
<body>

<h2>HTML Forms</h2>

<form action="/submit" method="post">

    <label for="science">Science:</label><br>
    <input type="number" id="science" name="science" value="0"><br><br>

    <label for="maths">Maths:</label><br>
    <input type="number" id="maths" name="maths" value="0"><br><br>

    <label for="c">C:</label><br>
    <input type="number" id="c" name="c" value="0"><br><br>

    <label for="datascience">Data Science:</label><br>
    <input type="number" id="datascience" name="datascience" value="0"><br><br>

    <input type="submit" value="Submit">

</form>

</body>
</html>